<h1><%= t(".title")%></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".description")%></th>
      <th><%= t(".unit_value")%></th>
      <th><%= t(".quantity")%></th>
      <th><%= t(".customer")%></th>
      <th><%= t(".place")%></th>
      <th><%= t(".payment_method")%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.description %></td>
      <td><%= invoice.unit_value %></td>
      <td><%= invoice.quantity %></td>
      <td><%= invoice.customer_id %></td>
      <td><%= invoice.place_id %></td>
      <td><%= invoice.payment_method_id %></td>
      <td><%= link_to t(".show"), invoice %></td>
      <td><%= link_to t(".edit"), edit_invoice_path(invoice) %></td>
      <td><%= link_to t(".destroy"), invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t(".new_invoice"), new_invoice_path %>
