<h1> <%= t ".title" %></h1>

<table>
  <thead>
    <tr>
      <th> <%= t ".name" %></th>
      <th> <%= t ".identification_card" %></th>
      <th> <%= t ".phone" %></th>
      <th> <%= t ".place" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.indentification_card %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.place_id %></td>
      <td><%= link_to t(".show"), customer %></td>
      <td><%= link_to t(".edit"), edit_customer_path(customer) %></td>
      <td><%= link_to t(".destroy"), customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t(".new_customer"), new_customer_path %>
