<p id="notice"><%= notice %></p>

<p>
  <strong><%= t ".name" %>:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Indentification card:</strong>
  <%= @customer.indentification_card %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Place:</strong>
  <%= @customer.place_id %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
