<h1><%= t(".title")%></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".description")%></th>
      <th><%= t(".value")%></th>
      <th><%= t(".payment_method")%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.description %></td>
      <td><%= payment.value %></td>
      <td><%= payment.payment_method_id %></td>
      <td><%= link_to t(".show"), payment %></td>
      <td><%= link_to t(".edit"), edit_payment_path(payment) %></td>
      <td><%= link_to t(".destroy"), payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t(".new_payment"), new_payment_path %>
