<h1><%= t(".title")%></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".name")%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= link_to t(".show"), product %></td>
      <td><%= link_to t(".edit"), edit_product_path(product) %></td>
      <td><%= link_to t(".destroy"), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
